<div id="form-error" style="display: none; color: red; size: 20px;">
  champ manquant
</div>
<div id="send-error" style="display: none; color: red; size: 20px;">
  Erreur de connexion
</div>

<form style="width:25%;" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Nom de la Table</label>
    <input class="form-control form-control-lg" type="text" placeholder="{{table.Name}}" [(ngModel)]="table.Name" name="name">
  </div>
  <div class="form-group">
      <select multiple [(ngModel)]="table.joueurs" name="joueurs" >
        <option *ngFor="let joueur of joueurs" [ngValue]="joueur" >{{joueur.name}}</option>
      </select>
  </div>
  <button type="submit" class="btn btn-lg btn-success">Submit</button>
</form> 